<form action="http://127.0.0.1:3000/answer" data-turbo="false" method="GET" >
  <input class="form-control" type="text" name="answer" style="width:400px;">
  <input class="btn btn-primary" type="submit" value="Ask!" style="width:200; margin:0 auto;">
</form>
